body{
    position:relative;
    margin:0px;
    width:100%;
    font-family:'Noto Sans TC';
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 54px 1fr 104px;
}
a{
    text-decoration:None;
}
a:visited{
    color:#448899;
}
hr{
    margin:37px 0px 37px 0px;
    border:1px solid #E8E8E8;
}
#sign{
    display:none;
    position:fixed;
    opacity:100;
    background-color:#ffffff;
    z-index:1000;
    width:340px;
    height:275px;
    border:1px solid;
    margin-top:80px;
    left:50%;
    transform: translateX(-50%);/* 使form置中 */
    font-family:'Noto Sans TC';
    text-align:center;
    border-radius:6px;
    border:0px;
    color:#666666;
    animation-name:drop;
    animation-duration:1s;
}
@keyframes drop{
    from{ top:-300px;}
    to{ top:0px;}
}
.sign_bar{
    width:100%;
    height:10px;
    background:-webkit-linear-gradient(left, #66AABB, #337788);
    border-radius:6px 6px 0px 0px;
    border:0px;
}
#sign .sign_title{
    /* border:1px solid; */
    width:310px;
    margin:15px auto 15px auto;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    position:relative;
}
#sign .sign_title h3{ 
    font-size:24px;
    font-weight:700;
    margin:0px 0px 0px 0px;
}
#sign .sign_title img{
    width:16px;
    height:16px;
    position:absolute;
    right:0px;
}
#sign .sign_title img:hover{
    cursor:pointer;
}
#sign input{
    width:280px;
    height:17px;
    margin:0px auto 10px auto;
    padding:15px;
    font-size:16px;
    border-radius:5px;
    border:1px solid #cccccc;
}
#sign_button{
    width:310px;
    height:47px;
    border-radius:5px;
    font-size:19px;
    color:#ffffff;
    background-color: #448899;
    border:0;
    margin-bottom:10px;
}
#sign_button:hover{
    cursor:pointer;
}
#sign p{
    font-size:16px;
    margin:0px;
}
#click_sign_up:hover{
    cursor:pointer;
    color:red;
}
#sign_up_name{
    display:none;
}
/* background */
.background{
    display:none;
    position:relative;
    z-index:999;
    background-color:black;
    opacity:0.25;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    animation-name:bg;
    animation-duration:2s;
}
@keyframes bg{
    from{opacity:0;}
    to{opacity:0.25;}
}
/* navigation */
.nav_frame{
    position:sticky;
    border-bottom: 1px solid #EFF3F5;
    top:0px;
    z-index:99;
    background-color:#ffffff;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
}
.navigation{
    z-index:100;
    background-color:#ffffff;
    /* position:sticky;
    top:0px; */
    display:flex;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.navigation h3{
    padding-left:12px;
    font-size:30px;
    margin:0px auto 0px 0px;
    color:#448899;
    font-family:'Noto Sans TC';
}
.navigation ul{
    display:flex;
    margin:0px 0px 0px auto;
    padding-right:12px;
    padding-left:0px;
    gap:20px;
    list-style:none;
    margin:0px;
    font-size:16px;
    font-family:'Noto Sans TC';
}
.navigation ul li:hover{
    color:red;
    cursor:pointer;
}
/* content */
.content{
    min-height:920px;/*使footer置底*/
    grid-column-start:2;
    grid-column-end: span 1;
    grid-row-start:2;
    grid-row-end: span 1;
}
.content .tour{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:47px;
}
.content .tour .image{
    position:relative;
    /* border:1px solid; */
    height:406px;
    width:47%;
    display:flex;
    align-items:center;
    background-repeat:no-repeat;/*圖片不重複*/
    background-size:cover;/*將背景圖片填滿*/
    border-radius:5px;
}
.content .tour .image .image_index{
    margin:auto auto 0px auto;
    /* border:1px solid; */
}
.content .tour .image .image_index img{
    height:12px;
    width:12px;
    margin:0px 6px 0px 6px;
    opacity:0.9;
}
#last_one{
    opacity:0.7;
    position:absolute;
    left:10px;
    width:36px;
    height:36px;
}
#last_one:hover{
    cursor:pointer;
}
#next_one{
    opacity:0.7;
    position:absolute;
    right:10px;
    width:36px;
    height:36px;
}
#next_one:hover{
    cursor:pointer;
}
.content .tour img{
    height:36px;
    width:36px;
}
.content .tour .book{
    margin-left:30px;
    /* border:1px solid; */
    width:47%;
    color:#666666;
}
.content .tour .book .name{
    font-size:24px;
    font-weight:700;
    margin:auto;
}
.content .tour .book .name_intro{
    font-size:16px;
    font-weight:400;
    margin:15px auto 20px auto;
}
.content .tour .book form{
    position:relative;
    height:302px;
    padding-top:15px;
    padding-left:20px;
    padding-right:10px;
    background-color:#E8E8E8;
    /* border:1px solid; */
    border-radius:5px;
    color:#666666;
    font-size:16px;
    font-weight:700;
}
.content .tour .book form h4{
    margin:0px 0px 15px 0px;
    font-weight:bold 700;
}
.content .tour .book form p{
    margin:0px 0px 15px 0px;
    font-weight:400;
}
#calendar{
    border:0px;
    height:25px;
    width:180px;
    padding:5px 10px 5px 10px;
    font-size:16px;
}
#calendar:hover{
    cursor:pointer;
}
/*日曆的指標變成手指*/
::-webkit-calendar-picker-indicator{
    cursor:pointer;
}
.content .tour .book form span{
    font-weight:400;
}
#tour_time{
    position:relative;
    top:6px;
    width:22px;
    height:22px;
    margin-left:12px;
    margin-bottom:24px;
}
/*::before為偽元素在原本的元素「之前」加入內容*/
#tour_time::before{
    content:'';
    background-color:#ffffff;
    width:22px;
    height:22px;
    top:0px;
    left:0px;
    border-radius:50%;
    position:absolute;
}
/*::after為偽元素在原本的元素「之後」加入內容，
同時偽元素也會「繼承」原本元素的屬性。以下方法
修改input的radius圓點於原本圓點上覆蓋以下圖層*/
#tour_time:checked::after{
    content:'';
    background-color:#448899;
    width:18px;
    height:18px;
    top:2px;
    left:2px;
    border-radius:50%;
    position:absolute;
}
label{
    font-weight:400;
}
label:hover{
    cursor:pointer;
}
#tour_time:hover{
    cursor:pointer;
}
#booking_button{
    margin:25px 0px auto 0px;
    width:154px;
    height:36px;
    border-radius:5px;
    border:0;
    background-color:#448899;
    font-size:19px;
    color:#ffffff;
    font-weight:400;
}
#booking_button:hover{
    cursor:pointer;
    animation:blink 1s infinite;
}
@keyframes blink{
    from{
        transform:scale(1.0);
    }
    50%{
        transform:scale(1.02);
    }
    to{
        transform:scale(1.0);
    }
}
.content .intro_frame{
    /* border:1px solid; */
    height:auto;
    padding:0px 15px 0px 15px;
    font-size:16px;
    font-weight:400;
    color:#666666;
}
.content .intro_frame .intro{
    margin:13px 0px 0px 0px;
}
.content .intro_frame .frame{
    margin-top:20px;
}
.content .intro_frame .frame .frame1{
    font-weight:700;
    margin:0px;
}
.content .intro_frame .frame .address{
    margin:0px;
}
.content .intro_frame .frame .transport{
    margin:0px auto 120px auto;;
}
/* footer */
.footer{
    background-color:#757575;
    bottom:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.footer h4{
    font-size:16px;
    font-family:'Noto Sans TC';
    margin:0px;
    color:white;
}

@media screen and (max-width:1199px){
    body{
        grid-template-columns: auto 100% auto;
    }
    .nav_frame{
        grid-template-columns: auto 100% auto;
    }
}

@media screen and (max-width:899px){
    .content .tour{
        justify-content:center;
    }
    .content .tour .image{
        width:95%;
    }
    .content .tour .book{
        width:95%;
        margin-left:0px;
        margin-top:40px;
    }
}

@media screen and (max-width:599px){
    .content .tour .image{
        width:100%;
    }
    .content .tour .book{
        width:95%;
        margin-top:20px;
    }
}

@media screen and (max-width:415px){
    .navigation ul{
        gap:5px;
        align-items:center;
        position:relative;
    }
    #sign_in_or_up{
        margin-left:15px;
    }
    #greet{
        position:absolute;
        font-size:10px;
        right:15px;
        top:-15px;
    }
}

/* loading */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    /* left:-5px;
    transform:translate(-50%, -50%); */
    /* display:none; */
  }
  .lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    /* background: #fff; */
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }