body{
    position:relative;
    margin:0px;
    width:100%;
    font-family:'Noto Sans TC';
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 54px auto auto;
    font-family:'Noto Sans TC';
}
a{
    text-decoration:None;
}
a:visited{
    color:#448899;
}
hr{
    margin-top:40px;
    border:1px solid #E8E8E8;
}
#sign{
    display:none;
    position:fixed;
    opacity:100;
    background-color:#ffffff;
    z-index:1000;
    width:340px;
    height:275px;
    /* border:1px solid; */
    margin-top:80px;
    left:50%;
    transform: translateX(-50%);/* 使form置中 */
    font-family:'Noto Sans TC';
    text-align:center;
    border-radius:6px;
    border:0px;
    color:#666666;
    animation-name:drop;
    animation-duration:1s;
}
@keyframes drop{
    from{ top:-300px;}
    to{ top:0px;}
}
.sign_bar{
    width:100%;
    height:10px;
    background:-webkit-linear-gradient(left, #66AABB, #337788);
    border-radius:6px 6px 0px 0px;
    border:0px;
}
#sign .sign_title{
    /* border:1px solid; */
    width:310px;
    margin:15px auto 15px auto;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    position:relative;
}
#sign .sign_title h3{ 
    font-size:24px;
    font-weight:700;
    margin:0px 0px 0px 0px;
}
#sign .sign_title img{
    width:16px;
    height:16px;
    position:absolute;
    right:0px;
}
#sign .sign_title img:hover{
    cursor:pointer;
}
#sign input{
    width:280px;
    height:17px;
    margin:0px auto 10px auto;
    padding:15px;
    font-size:16px;
    border-radius:5px;
    border:1px solid #cccccc;
}
#sign_button{
    width:310px;
    height:47px;
    border-radius:5px;
    font-size:19px;
    color:#ffffff;
    background-color: #448899;
    border:0;
    margin-bottom:10px;
}
#sign_button:hover{
    cursor:pointer;
}
#sign p{
    font-size:16px;
    margin:0px;
}
#click_sign_up:hover{
    cursor:pointer;
    color:red;
}
#sign_up_name{
    display:none;
}
/* background */
.background{
    display:none;
    position:relative;
    z-index:999;
    background-color:black;
    opacity:0.25;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    animation-name:bg;
    animation-duration:2s;
}
@keyframes bg{
    from{opacity:0;}
    to{opacity:0.25;}
}
/* navigation */
.nav_frame{
    position:sticky;
    border-bottom: 1px solid #EFF3F5;
    top:0px;
    z-index:99;
    background-color:#ffffff;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
}
.navigation{
    z-index:100;
    background-color:#ffffff;
    /* position:sticky;
    top:0px; */
    display:flex;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.navigation h3{
    padding-left:12px;
    font-size:30px;
    margin:0px auto 0px 0px;
    color:#448899;
    font-family:'Noto Sans TC';
}
.navigation ul{
    display:flex;
    margin:0px 0px 0px auto;
    padding-right:12px;
    padding-left:0px;
    gap:20px;
    list-style:none;
    margin:0px;
    font-size:16px;
    font-family:'Noto Sans TC';
}
.navigation ul li:hover{
    color:red;
    cursor:pointer;
}
/* content */
.content{
    color:#666666;
    font-family:'Noto Sans TC';
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.content_container{
    width:80%;
    margin:0px auto 0px auto;
    /* border:1px solid; */
}
.content_container p{
    font-size:19px;
    font-weight:700;
    /* height:16px; */
    margin:46px 0px 35px 0px;
}
.content_container_1 .p_container{
    width:80%;
    margin:0px auto 0px auto;
}
.content_container_1 .p_container p{
    font-size:16px;
    color:#666666;
    padding-bottom:40px;
    margin:0px;
}
.attraction_info{
    width:80%;
    /* border:1px solid; */
    /* height:275px; */
    display:flex;
    flex-wrap:wrap;
    margin:0px auto 0px auto;
}
.attraction_info .attraction_img{
    /* border:1px solid; */
    width:266px;
    height:200px;
    object-fit:cover;
    background-size:100%;
    background-repeat:no-repeat;
}
.attraction_info .attraction_intro{
    height:200px;
    padding-left:25px;
    font-weight:700;
    /* border:1px solid; */
}
.attraction_info .attraction_intro h3{
    height:14px;
    font-size:16px;
    color:#448899;
    margin-top:5px;
    margin-bottom:30px;
    font-weight:700;
}
.attraction_info .attraction_intro h4{
    height:14px;
    font-size:16px;
    margin-top:0px;
    margin-bottom:20px;
    font-weight:700;
}
.attraction_info .attraction_intro h4 span{
    font-weight:400;
    padding-left:5px;
}
.attraction_info img{
    height:30px;
    width:30px;
    margin-left:auto;
}
.attraction_info img:hover{
    cursor:pointer;
    transform:scale(1.2);
}
.content_container_2{
    width:80%;
    /* border:1px solid; */
    /* height:307px; */
    font-family:'Noto Sans TC';
    font-size:16px;
    color:#666666;
    margin:0px auto 0px auto;
}
.content_container_2 h3{
    font-size:19px;
    font-weight:700;
    font-family:'Noto Sans TC';
    margin-top:44px;
    margin-bottom:24px;
}
.content_container_2 input{
    width:180px;
    height:18px;
    padding:10px;
    margin-bottom:15px;
    font-size:16px;
    color:#000000;
    border-radius:5px;
    border:1px solid #E8E8E8;
}
.content_container_2 p{
    margin-top:5px;
    font-size:16px;
    font-weight:700;
}
#card_verification{
    margin-bottom:0px;
}
.confirmation{
    width:80%;
    /* border:1px solid; */
    /* height:180px; */
    text-align:right;
    margin:0px auto 0px auto;
}
.confirmation p{
    font-family:'Noto Sans TC';
    font-size:16px;
    font-weight:700;
    margin-top:43px;
    margin-bottom:25px;
}
.confirmation button{
    font-family:'Noto Sans TC';
    width:173px;
    height:36px;
    background-color:#448899;
    color:#ffffff;
    border-radius:5px;
    border:0px;
    font-size:19px;
    margin-bottom:62px;
}
/* footer */
.footer{
    background-color:#757575;
    bottom:0px;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.footer h4{
    font-size:16px;
    font-family:'Noto Sans TC';
    margin:45px 0px 45px 0px;
    color:white;
}
@media screen and (max-width:1199px){
    body{
        grid-template-columns: auto 100% auto;
    }
    .nav_frame{
        grid-template-columns: auto 100% auto;
    }
}
@media screen and (max-width:685px){
    .content_container{
        width:95%;
        height:auto;
    }
    .attraction_info{
        width:95%;
        height:auto;
    }
    .attraction_info .attraction_img{
        width:100%;
        margin-bottom:20px;
    }
    .attraction_info img{
        margin-top:auto;
    }
    .content_container_2{
        width:95%;
        height:auto;
    }
    .confirmation{
        width:95%;
        height:auto;
    }
}
@media screen and (max-width:415px){
    .navigation ul{
        gap:5px;
        align-items:center;
        position:relative;
    }
    #sign_in_or_up{
        margin-left:15px;
    }
    #greet{
        position:absolute;
        font-size:10px;
        right:15px;
        top:-15px;
    }
}