body{
    position:relative;
    margin:0px;
    width:100%;
    font-family:'Noto Sans TC';
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 54px minmax(200px, auto) auto;
    font-family:'Noto Sans TC';
    background-color:#757575;
}
a{
    text-decoration:None;
}
a:visited{
    color:#448899;
}
hr{
    margin-top:40px;
    border:1px solid #E8E8E8;
}
#sign{
    display:none;
    position:fixed;
    opacity:100;
    background-color:#ffffff;
    z-index:1000;
    width:340px;
    height:275px;
    /* border:1px solid; */
    margin-top:80px;
    left:50%;
    transform: translateX(-50%);/* 使form置中 */
    font-family:'Noto Sans TC';
    text-align:center;
    border-radius:6px;
    border:0px;
    color:#666666;
    animation-name:drop;
    animation-duration:1s;
}
@keyframes drop{
    from{ top:-300px;}
    to{ top:0px;}
}
.sign_bar{
    width:100%;
    height:10px;
    background:-webkit-linear-gradient(left, #66AABB, #337788);
    border-radius:6px 6px 0px 0px;
    border:0px;
}
#sign .sign_title{
    /* border:1px solid; */
    width:310px;
    margin:15px auto 15px auto;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    position:relative;
}
#sign .sign_title h3{ 
    font-size:24px;
    font-weight:700;
    margin:0px 0px 0px 0px;
}
#sign .sign_title img{
    width:16px;
    height:16px;
    position:absolute;
    right:0px;
}
#sign .sign_title img:hover{
    cursor:pointer;
}
#sign input{
    width:280px;
    height:17px;
    margin:0px auto 10px auto;
    padding:15px;
    font-size:16px;
    border-radius:5px;
    border:1px solid #cccccc;
}
#sign_button{
    width:310px;
    height:47px;
    border-radius:5px;
    font-size:19px;
    color:#ffffff;
    background-color: #448899;
    border:0;
    margin-bottom:10px;
}
#sign_button:hover{
    cursor:pointer;
}
#sign p{
    font-size:16px;
    margin:0px;
}
#click_sign_up:hover{
    cursor:pointer;
    color:red;
}
#sign_up_name{
    display:none;
}
/* background */
.background{
    display:none;
    position:relative;
    z-index:999;
    background-color:black;
    opacity:0.25;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    animation-name:bg;
    animation-duration:2s;
}
@keyframes bg{
    from{opacity:0;}
    to{opacity:0.25;}
}
/* navigation */
.nav_frame{
    position:sticky;
    border-bottom: 1px solid #EFF3F5;
    top:0px;
    z-index:99;
    background-color:#ffffff;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
}
.navigation{
    z-index:100;
    background-color:#ffffff;
    /* position:sticky;
    top:0px; */
    display:flex;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.navigation h3{
    padding-left:12px;
    font-size:30px;
    margin:0px auto 0px 0px;
    color:#448899;
    font-family:'Noto Sans TC';
}
.navigation ul{
    display:flex;
    margin:0px 0px 0px auto;
    padding-right:12px;
    padding-left:0px;
    gap:20px;
    list-style:none;
    margin:0px;
    font-size:16px;
    font-family:'Noto Sans TC';
}
.navigation ul li:hover{
    color:red;
    cursor:pointer;
}
/* content */
.white_background{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 1;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
    background-color: #ffffff;
}
.content{
    color:#666666;
    font-family:'Noto Sans TC';
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: #ffffff;
    /* display:none; */
}
.content_container{
    width:80%;
    margin:0px auto 0px auto;
    /* border:1px solid; */
}
.content_container p{
    font-size:19px;
    font-weight:700;
    /* height:16px; */
    margin:46px 0px 35px 0px;
}
.content_container_1{
    display:none;
}
.content_container_1 .p_container{
    width:80%;
    margin:0px auto 0px auto;
}
.content_container_1 .p_container p{
    font-size:16px;
    color:#666666;
    padding-bottom:40px;
    margin:0px;
}
.attraction_info{
    width:80%;
    /* border:1px solid; */
    /* height:275px; */
    display:flex;
    flex-wrap:wrap;
    margin:0px auto 0px auto;
}
.attraction_info .attraction_img{
    /* border:1px solid; */
    width:266px;
    height:200px;
    object-fit:cover;
    background-size:100%;
    background-repeat:no-repeat;
}
.attraction_info .attraction_intro{
    height:200px;
    padding-left:25px;
    font-weight:700;
    /* border:1px solid; */
}
.attraction_info .attraction_intro h3{
    height:14px;
    font-size:16px;
    color:#448899;
    margin-top:5px;
    margin-bottom:30px;
    font-weight:700;
}
.attraction_info .attraction_intro h4{
    height:14px;
    font-size:16px;
    margin-top:0px;
    margin-bottom:20px;
    font-weight:700;
}
.attraction_info .attraction_intro h4 span{
    font-weight:400;
    padding-left:5px;
}
.attraction_info img{
    height:30px;
    width:30px;
    margin-left:auto;
}
.attraction_info img:hover{
    cursor:pointer;
    transform:scale(1.2);
}
.content_container_2{
    width:80%;
    /* border:1px solid; */
    /* height:307px; */
    font-family:'Noto Sans TC';
    font-size:16px;
    color:#666666;
    margin:0px auto 0px auto;
}
.content_container_2 h3{
    font-size:19px;
    font-weight:700;
    font-family:'Noto Sans TC';
    margin-top:44px;
    margin-bottom:24px;
}
.content_container_2 input{
    z-index:10;
    width:180px;
    height:18px;
    padding:10px;
    /* margin-bottom:15px; */
    font-size:16px;
    color:#000000;
    border-radius:5px;
    border:1px solid #E8E8E8;
}
.content_container_2 p{
    margin-top:5px;
    font-size:16px;
    font-weight:700;
}
.user_info{
    position:relative;
    height:40px;
    z-index:0;
    display:flex;
    align-items:center;
    margin-bottom:15px;
    overflow: hidden;
}
.content_container_2 .user_info .user_msg{
    margin:0px;
    padding-left:10px;
}
.content_container_2 .user_info .typing{
    left:-50px;
}
#card_verification{
    margin-bottom:0px;
}
.confirmation{
    width:80%;
    /* border:1px solid; */
    /* height:180px; */
    text-align:right;
    margin:0px auto 0px auto;
}
.confirmation p{
    font-family:'Noto Sans TC';
    font-size:16px;
    font-weight:700;
    margin-top:43px;
    margin-bottom:25px;
}
.confirmation button{
    font-family:'Noto Sans TC';
    width:173px;
    height:36px;
    background-color:#448899;
    color:#ffffff;
    border-radius:5px;
    border:0px;
    font-size:19px;
    margin-bottom:62px;
    position:relative;
}
.confirmation button:hover{
    cursor:pointer;
    animation:blink 1s infinite;
}
@keyframes blink{
    from{ transform:scale(1.05);}
    50%{ transform:scale(1.0);}
    to{ transform:scale(1.05);}
}
.tpfield {
    z-index:10;
    height: 18px;
    width: 180px;
    border: 1px solid #E8E8E8;
    margin: 0px;
    padding: 10px;
    border-radius:5px;
}
#credit_card{
    z-index:0;
    display:flex;
    align-items:center;
    color:#666666;
    font-weight:400;
    font-size:16px;
    overflow:hidden;
    position:relative;
    height:40px;
}
.content_container_2 #credit_card .card_msg{
    padding:0px 10px 0px 10px;
    margin:0px;
}
.typing{
    z-index:5;
    position:relative;
    top:-2.5px;
    left:-70px;
    height:80px;
    margin:0px;
    padding:0px 0px 0px 0px;
    display:none;
}
/* footer */
.footer{
    background-color:#757575;
    bottom:0px;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.footer h4{
    font-size:16px;
    font-family:'Noto Sans TC';
    margin:45px 0px 45px 0px;
    color:white;
    height:100%;
}
@media screen and (max-width:1199px){
    body{
        grid-template-columns: auto 100% auto;
    }
    .white_background{
        grid-template-columns: auto 100% auto;
    }
    .nav_frame{
        grid-template-columns: auto 100% auto;
    }
}
@media screen and (max-width:685px){
    .content_container{
        width:95%;
        height:auto;
    }
    .attraction_info{
        width:95%;
        height:auto;
    }
    .attraction_info .attraction_img{
        width:100%;
        margin-bottom:20px;
    }
    .attraction_info img{
        margin-top:auto;
    }
    .content_container_2{
        width:95%;
        height:auto;
    }
    .confirmation{
        width:95%;
        height:auto;
    }
    .loading{
        top:50%;
    }
    .lds-roller{
        left:-50%;
        top:50%;
    }
}
@media screen and (max-width:415px){
    .navigation ul{
        gap:5px;
        align-items:center;
        position:relative;
    }
    #sign_in_or_up{
        margin-left:15px;
    }
    #greet{
        position:absolute;
        font-size:10px;
        right:15px;
        top:-15px;
    }
}

/* -------------------loading------------------------ */
.loading{
    position:absolute;
    z-index:200;
    background-color: #000000;
    width:100%;
    min-width: 350px;
    max-width:1200px;
    top:40%;
}
.lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left:38%;
    transform:translate(-50%, -50%);
  }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 50px 50px;
  }
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #448899;
    margin: -4px 0 0 -4px;
  }
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* loading */
  
  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    top: 30%;
    left:30%;
    transform:translate(-50%, -50%);
    display:none;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
/* loading */

.lds-ripple {
    display: inline-block;
    position: fixed;
    top:50%;
    left:50%;
    width: 80px;
    height: 80px;
    transform:translate(-50%, -50%);
    display:none;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #448899;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  #cfm_btn_txt{
      display:block;
  }
  