body{
    position:relative;
    margin:0px;
    width:100%;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 54px 320px auto 104px;
}
a{
    text-decoration:None;
}
a:visited{
    color:#448899;
}
#sign{
    display:none;
    position:fixed;
    background-color:#ffffff;
    z-index:1000;
    width:340px;
    height:275px;
    border:1px solid;
    margin-top:80px;
    left:50%;
    transform: translateX(-50%);/* 使form置中 */
    font-family:'Noto Sans TC';
    text-align:center;
    border-radius:6px;
    border:0px;
    color:#666666;
    animation-name:drop;
    animation-duration:1s;
}
@keyframes drop{
    from{ top:-300px;}
    to{ top:0px;}
}
.sign_bar{
    width:100%;
    height:10px;
    background:-webkit-linear-gradient(left, #66AABB, #337788);
    border-radius:6px 6px 0px 0px;
    border:0px;
}
#sign .sign_title{
    /* border:1px solid; */
    width:310px;
    margin:15px auto 15px auto;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    position:relative;
}
#sign .sign_title h3{ 
    font-size:24px;
    font-weight:700;
    margin:0px 0px 0px 0px;
}
#sign .sign_title img{
    width:16px;
    height:16px;
    position:absolute;
    right:0px;
}
#sign .sign_title img:hover{
    cursor:pointer;
}
#sign input{
    width:280px;
    height:17px;
    margin:0px auto 10px auto;
    padding:15px;
    font-size:16px;
    border-radius:5px;
    border:1px solid #cccccc;
}
#sign_button{
    width:310px;
    height:47px;
    border-radius:5px;
    font-size:19px;
    color:#ffffff;
    background-color: #448899;
    border:0;
    margin-bottom:10px;
}
#sign_button:hover{
    cursor:pointer;
}
#sign p{
    font-size:16px;
    margin:0px;
}
#click_sign_up:hover{
    cursor:pointer;
    color:red;
}
#sign_up_name{
    display:none;
}
/* background */
.background{
    display:none;
    position:relative;
    z-index:999;
    background-color:black;
    opacity:0.25;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
    animation-name:bg;
    animation-duration:2s;
}
@keyframes bg{
    from{opacity:0;}
    to{opacity:0.25;}
}
/* navigation */
.nav_frame{
    position:sticky;
    top:0px;
    z-index:99;
    background-color:#ffffff;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
}
.navigation{
    z-index:100;
    /* position:sticky;
    top:0px; */
    background-color:#ffffff;
    display:flex;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.navigation h3{
    padding-left:12px;
    font-size:30px;
    margin:0px auto 0px 0px;
    color:#448899;
    font-family:'Noto Sans TC';
}
.navigation ul{
    display:flex;
    margin:0px 0px 0px auto;
    padding-right:12px;
    padding-left:0px;
    gap:20px;
    list-style:none;
    margin:0px;
    font-size:16px;
    font-family:'Noto Sans TC';
}
.navigation ul li:hover{
    color:red;
    cursor:pointer;
}
/* header */
.header{
    background:-webkit-linear-gradient(top, #AADDEE, #66AABB);
    height:320px;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 1;
    justify-content:center;
    align-items:center;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
    overflow-x: hidden;
}
#img{
    position:absolute;
    right:-150px;
    bottom:0px;
    z-index:0;
    height:100%;
    object-fit:contain;
}
.header .d1{
    position:relative;
    height:100%;
    grid-column-start: 2;
    grid-column-end: span 1;
    display:flex;
    align-items: center;
}
.header .text{
    z-index:5;
}
.header .d1 .text h3{
    z-index:5;
    color:#F8F8F8;
    padding-left:12px;
    margin:0px;
    font-size:28px;
    font-family:'Noto Sans TC';
}
.header .d1 .text h4{
    z-index:5;
    color:#F8F8F8;
    padding-left:12px;
    margin:25px 0px 25px 0px;
    font-size:16px;
    font-family:'Noto Sans TC';
}
.header .d1 .text .frame{
    z-index:5;
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
    width:460px;
}
.header .d1 .text .frame input{
    z-index:5;
    margin-left:12px;
    padding:15px;
    width:400px;
    height:16px;
    font-size:16px;
    font-family:'Noto Sans TC';
    border:0px;
    border-radius:5px 0px 0px 5px;
}
.header .d1 .text .frame div{
    z-index:5;
    background-color:#448899;
    height:46px;
    width:60px;
    border-radius:0px 5px 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header .d1 .text .frame div img{
    z-index:5;
    width:30px;
    height:30px;
    transition:1s;
}
.header .d1 .text .frame div img:hover{
    cursor:pointer;
    transform: scale(1.3);
}
/* content */
.content{
    margin:40px auto;
    /* overflow:hidden; */
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.content .item{
    width:270px;
    height:242px;
    border:1px solid #E8E8E8;
    margin:6px 12px 6px 12px;
    border-radius:5px;
    overflow:hidden;
}
.content .item:hover{
    transform:scale(1.1);
}
.item img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:5px 5px 0px 0px;
}
.item h4{
    color:#757575;
    height:22px;
    font-size:16px;
    font-weight:700;
    margin:auto 10px 7px 10px;
    font-family:'Noto Sans TC';
}
.attraction_intro:hover{
    animation:blink 1s infinite;
    color:blue;
}
@keyframes blink{
    from{
        font-size:100%;
    }
    50%{
        font-size:102%;
    }
    to{
        font-size:100%;
    }

}
.item .intro{
    display:flex;
    margin:8px 10px 12px 10px;
}
.item .intro .right{
    font-weight:400;
    font-family:'Noto Sans TC';
    margin:0px 0px 0px auto;
}
.item .intro .left{
    font-weight:400;
    font-family:'Noto Sans TC';
    margin:0px auto 0px 0px;
}
/* footer */
.footer{
    background-color:#757575;
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 1;
}
.footer h4{
    font-size:16px;
    font-family:'Noto Sans TC';
    margin:0px;
    color:white;
}
@media screen and (max-width:1199px){
    body{
        grid-template-columns: auto 80% auto;
        grid-template-rows: 54px 300px auto 104px; 
    }
    .nav_frame{
        grid-template-columns: auto 80% auto;
    }
    #img{
        height:80%;
        right:-100px;
    }
    .header{
        grid-template-columns: auto 80% auto;
        height:300px;
        overflow-x: hidden;
    }
    .header .d1 .text{
        width:100%;
    }
    .content{
        width:100%;
    }
    .content .item{
        width:45%;
    }
}
@media screen and (max-width:659px){
    body{
        grid-template-columns: auto 100% auto;
        grid-template-rows: 54px 280px auto 104px;
    }
    .nav_frame{
        grid-template-columns: auto 100% auto;
    }
    #img{
        height:60%;
        right:-100px;
    }
    .header .d1{
        overflow-x: hidden;
    }
    .header{
        grid-template-columns: auto 100% auto; 
        height:280px;
    }
    .header .d1 .text .frame{
        width:100%;
    }
    .content .item{
        width:90%;
        height:280px;
    }
    .item img{
        height:202px;
    }
    .item .intro{
        margin:8px 10px 13px 10px;
    }
    .item h4{
        margin:8px 10px 7px 10px;
    }
    .header .d1 .text .frame input{
        margin-right:0px;
        width:230px;
    }
}

@media screen and (max-width:415px){
    .navigation ul{
        gap:5px;
        align-items:center;
        position:relative;
    }
    #sign_in_or_up{
        margin-left:15px;
    }
    #greet{
        position:absolute;
        font-size:10px;
        right:110px;
        top:-15px;
    }
}
