body{
    margin:0px;
    width:100%;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 54px 320px auto 104px;
}
.navigation{
    /* width:1200px; */
    display:flex;
    border:1px solid;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.navigation h3{
    padding-left:12px;
    font-size:30px;
    margin:0px auto 0px 0px;
    color:#448899;
}
.navigation ul{
    display:flex;
    margin:0px 0px 0px auto;
    padding-right:12px;
    gap:20px;
    list-style:none;
    margin:0px;
    font-size:16px;
}
.navigation ul li:hover{
    color:red;
    cursor:pointer;
}
.header{
    background-color:#F8F8F8;
    height:320px;
    /* display:flex; */
    justify-content:center;
    align-items:center;
    display:grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 1;
}
.header .text{
    /* width:1200px; */
    border:1px solid;
    grid-column-start: 2;
    grid-column-end: span 1;
}
.header .text h3{
    padding-left:12px;
    margin:0px;
    font-size:28px;
}
.header .text h4{
    padding-left:12px;
    margin:15px 0px 15px 0px;
    font-size:16px;
}
.header .text input{
    margin-left:12px;
    padding:10px;
    width:400px;
    font-size:16px;
    border-radius:5px;
}
.content{
    /* height:816px; */
    margin:40px auto;
    border:1px solid;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}
.footer{
    background-color:#757575;
    display:flex;
    justify-content:center;
    align-items:center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 1;
}
.footer h4{
    font-size:16px;
    margin:0px;
}
.item{
    width:270px;
    height:242px;
    border:1px solid;
    margin:6px 12px 6px 12px;
}
.item img{
    width:100%;
    height:180px;
    object-fit:cover;
}
.item h4{
    font-size:16px;
    margin:auto 10px 7px 10px;
}
.item .intro{
    display:flex;
    margin:8px 10px 12px 10px;
}
.item .intro .right{
    margin:0px 0px 0px auto;
}
.item .intro .left{
    margin:0px auto 0px 0px;
}
@media screen and (max-width:1199px){
    body{
        grid-template-columns: auto 100% auto; 
    }
    .header{
        grid-template-columns: auto 100% auto; 
    }
    .header .text{
        width:100%;
    }
    .content{
        width:100%;
    }
    .item{
        width:45%;
    }
}
@media screen and (max-width:599px){
    .item{
        width:90%;
        height:280px;
    }
    .item img{
        height:202px;
    }
    .header .text input{
        margin-right:12px;
        width:auto;
    }
}