<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='stylesheet' href="{{url_for('static', filename='attraction.css')}}">
    </head>
    <body>
        <div id='background' class='background'>
        </div>
        <form id='sign'>
            <div class='sign_bar'></div>
            <div class='sign_title'>
                <h3>登入會員帳號</h3>
                <img id='close_sign' src="{{url_for('static', filename='icon/icon_close.png')}}" />
            </div>
            <input id='sign_up_name' type='text' name='name' placeholder='輸入姓名'/>
            <input type='text' name='email' placeholder='輸入電子信箱'/>
            <input type='password' name='password' placeholder='輸入密碼'/>
            <button id='sign_button'type='button'>登入帳戶</button>
            <br/>
            <p><span id='fail_message'>還沒有帳戶？</span><span id='click_sign_up'>點此註冊</span></p>
        </form>
        <div class='nav_frame'>
            <div class='navigation'>
                <h3 id='taipei'></h3>
                <ul>
                    <li id='greet'></li>
                    <li id='schedule'></li>
                    <li id='sign_in_or_up'></li>
                </ul>
            </div>
        </div>
        <div class='content'>
            <div id='loading_for_ready' class="lds-ripple"><div></div><div></div></div>
            <div class='tour'>
                <div class='image'>
                    <img id='last_one' src="{{url_for('static', filename='icon/btn_leftArrow.png')}}" />
                    <img id='next_one' src="{{url_for('static', filename='icon/btn_rightArrow.png')}}"/>
                    <div class='image_index'>
                    </div>
                </div>
                <div class='book'>
                    <h3 class='name'></h3>
                    <p class='name_intro'><span class='cat'></span> at <span class='MRT'></span></p>
                    <form>
                        <div id='form_div'>
                            <h4>訂購導覽行程</h4>
                            <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                            <h5 id='h5_date'>選擇日期：<span id='order_date'></span><input type='date' id='calendar' name='calendar'/></h5>
                            <h5 id='h5_time'>選擇時間：<span id='order_time'></span><span class='label_tour_time'><label><input type='radio' id='tour_time' name='time' value='上半天' checked>上半天</label><label class='label_tour_time'><input id='tour_time' type='radio' name='time' value='下半天'>下半天</label></span></h5>
                            <h5 id='h5_cost'>導覽費用：<span id='cost'></span></h5>
                            <h5 id='h5_order_number'>訂單編號：<span id='span_order_number'></span></h5>
                            <h5 id='h5_order_status'>訂單狀態：<span id='span_order_status'></span></h5>
                            <h5 id='h5_order_time'>訂單時間：<span id='span_order_time'></span></h5>
                            <button id='booking_button' type='button'><span id='booking_button_text'>開始預訂行程</span><div id='lds-ellipsis' class="lds-ellipsis"><div></div><div></div><div></div></div></button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class='intro_frame'>
                <p class='intro'></p>
                <div class='frame'>
                    <h4 class='frame1'>景點地址：</h4>
                    <p class='address'></p>
                </div>
                <div class='frame'>
                    <h4 class='frame1'>交通方式：</h4>
                    <p class='transport'></p>
                </div>
            </div>
        </div>
        <div class='footer'>
            <h4>COPYRIGHT © 2021台北一日遊</h4>
        </div>
        <script type='text/javascript' src="{{url_for('static', filename='attraction.js')}}"></script>
    </body>
</html>