<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>首頁</title>
        <link rel='stylesheet' href="{{url_for('static', filename='index.css')}}">
    </head>
    <body>
        <div class='nav_frame'>
            <div class='navigation'>
                <h3><a href="http://3.115.234.130:3000/">台北一日遊</a></h3>
                <!--<h3><a href="http://127.0.0.1:3000/">台北一日遊</a></h3>-->
                <ul>
                    <li>預定行程</li>
                    <li>登入/註冊</li>
                </ul>
            </div>
        </div>
        <div class='header'>   
            <div class='d1'>
                <img id="img" src="https://s3-alpha-sig.figma.com/img/7f11/61f9/05b5cacde05a250ac06b6807d14ef29b?Expires=1647820800&Signature=HiKPVuRkePCI6qsX46pmenyi8z-2jIetuwcP7jQtblgK7r1gKgyajRihIiRWxP24IJI~32uy3e0FqlFtMcQcEKuJ4F6HxJICVs8AYgH2zpED1h8FEiD9AouEAW8GLOuH2iUUQUnNpMAmiKUoD3Oemd6kbjbCg3upOQeMHSEGsZqjLwi8O3HgzDF2lbQfAmNR-xyzLZre-l5O17IRlUiYj5bSjfAOSWakLSLo9wP7~UXuM~yF6hLiuHmC~VDD~7toD8jrpVXIGTc5VpwAyOtijYtYEh1NczFiYfXDLHmnymOnWTDOOXVzWMr3-1URIOognFpTnMo0DLeo5ZEHoGx9qQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" />
                <div class='text'>
                    <h3>輕鬆享受台北一日悠閒</h3>
                    <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
                    <div class='frame'>
                        <input id="search" type='text' placeholder='輸入景點名稱查詢' />
                        <div><img id="button" src={{url_for('static', filename='icon/icon_search.png')}} /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='content'>
        </div>
        <div class='footer'>
            <h4>COPYRIGHT © 2021台北一日遊</h4>
        </div>
        <script type='text/javascript' src={{url_for('static', filename='index.js')}}></script>
    </body>
</html>
